.bgmission {
    background: url(../images/bg-mission.jpg) repeat;

}

.titleMission {
    color: #2081A4 !important;
    font-size: 4.5rem !important
}

.missionContentImg{
    min-width: 600px;
}

.missionContentImg img {
    width: 100%;
    height: auto!important;
    margin-left: 40px;

}

.missionContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.missionContent2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

}

.missionContent2 h3{
    font-size: 4.5rem !important;
    color: #2081A4!important;
}

.titleMission2{
    font-size: 4.5rem !important;
    color: #2081A4!important;
}

.titleMission2 h4{
    font-size: 2.5rem !important;
    margin-top: 40px;
    color: #A98049!important;
}

.missionContent2 h4{

    font-size: 2.5rem !important;
    margin-top: 40px;
    color: #A98049!important;
}

.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-left: -100px;
    background-color: #A98049;
    border-radius: 20px;
    margin-top: 40px;
}

.cardImage img{
    width: 200px;
    margin-left: -100px;
    margin-right: 20px;
    border-radius: 50%;
}

.card p{
    font-size: 1.6rem !important;
    margin-right: 20px;
}

.content2CorpoL{
width: 70%;
min-width: 410px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: left;
height: 100%;
}

.content2CorpoR{
    width: 50%;


    }

.missionContent p {
    color: #6C727A !important;
}

.missionContent b {
    color: #A98049 !important;
    
}

@media only screen and (max-width: 600px) {
    .missionContent {
        flex-direction: column;
    }
    .missionContent2 {
        flex-direction: column;
    }
    .content2CorpoL{
        flex-direction: row;
    }
    .content2CorpoL h3{
        margin-right: 40px;
    }
    .content2CorpoL{
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        align-items: center;
    }
    .content2CorpoL h3{
        margin-right: 40px;
    }

    .content2CorpoR{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
        width: 400px;
    }
    .card{
        margin-left: 0;
        flex-direction: column;
        max-width: 360px!important;
    }

    .cardImage img{
        width: 150px;
        margin: 20px 0px;
        border-radius: 50%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .missionContent {
        flex-direction: column;
    }
    .missionContent2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .content2CorpoL{
        flex-direction: row;
    }
    .content2CorpoL h3{
        margin-right: 40px;
    }
    .content2CorpoL h4{
        width: 100%;
        text-align: left;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .missionContent {
        flex-direction: column;
    }
    .missionContent2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .content2CorpoL{
        flex-direction: row;
    }
    .content2CorpoL h3{
        margin-right: 40px;
    }
    .content2CorpoL h4{
        width: 100%;
        text-align: left;
        font-size: 3rem!important;
    }
    .content2CorpoR{
        width: 500px;
        margin-left: 300px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .missionContent {
        flex-direction: column;
    }
    .missionContent2 {
        flex-direction: column;
        
        width: 110%;
        

    }
    .content2CorpoL{
        flex-direction: row;
    }
    .content2CorpoL h3{
        margin-right: 40px;
    }
    .content2CorpoL h4{
        width: 100%;
        text-align: left;
    }
    .content2CorpoR{
        width: 600px;
        margin-left: 200px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .missionContent {
        flex-direction: row;
    }
    .missionContent2 {
        flex-direction: row;
        align-items: flex-start;
    }
    .content2CorpoL{
        flex-direction: column;
        max-width: 600px;
    }

    .content2CorpoR{
        width: 700px;
        margin-left: 0;
    }
}

@media only screen and (min-width: 1800px) {

    .content2CorpoL{
        flex-direction: column;
        max-width: 800px;
        margin-left: -200px;
    }
}